body {
    background-color: rgb(241, 233, 233);
    margin: 0%;
    padding: 0%;
    text-align: center;
}

span {
    margin: 0px 20px 0px 20px;
    
}

div {
    display:flex;
    flex-direction: column;
}

button {
    
    width: 76px;
    margin: 0px 10px 0px 10px;
}

#userOptions, #botOptions {
    flex-direction: row;
    justify-content: center;
}

#userOptions {
    margin: 20px 0 0 0;
}
